# CONFIGURAÇÕES DA API
PORT=1350
NODE_ENV=development

# CONFIGURAÇÕES DO BANCO DE DADOS
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aplicativo_atividades_fisicas

# CONFIGURAÇÕES DO POSTGRES
POSTGRES_DB=aplicativo_atividades_fisicas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
